.geren{
	background: #ededed;
    height: 800px;
}
.content-geren{
	width: 1190px;
    margin: 0 auto;
	    padding-top: 35px;
	        text-align: center;
}
.geren-lite{
	    width: 18%;
    background: #fff;
    height: 500px;
    border-radius: 5px;
        text-align: center;
        float: left;
}
.geren-word{
	    border-top: 1px solid #ddd;
	        padding: 15px;
    font-size: 16px;
        
}
.geren-lite .aa{
	background-color: #98afee;
	color: #fff;

}
a div:hover{
	background-color: #98afee;
	color: #fff;
	text-decoration: none;
}
a:hover{
	text-decoration: none;
}
.geren-right {
	    width: 80%;
    float: right;
}
.geren-right .home-geren{
	width: 100%;
}
 .home-geren .home-title{
 	margin: 0;
 	    text-align: left;
 }
 .box-geren{
 	    height: 600px;
    background: #FFF;
    border-radius: 0 0 10px 10px;
 }